{% extends "base.html" %}

{% load static i18n crispy_forms_tags %}

{% block title %} Purbeurre - Confirmation de la réinitialisation {% endblock title %}

{% block header %}
<!-- Masthead-->
    <header class="mastheaderProfile">
        <div class="container h-100"></div>
    </header>
{% endblock header %}

{% block content %}
    <div class="container mt-2">
        <div class="content-section">

            {% if validlink %}

            <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <form method="post">
                {% csrf_token %}
                <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                {{ form|crispy }}
                <div class="form-group pl-3">
                    <button class="btn btn-outline-info" type="submit">{% translate 'Change my password' %}</button>
                </div>
            </form>

            {% else %}

            <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

           {% endif %}
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/>
{% endblock content %}

{% block footer %}

    <footer class="profile_footer page-footer bg-light py-5">
        <div class="container">
            <div class="footer-copyright small text-center text-muted">Copyright © 2020 - PurBeurre
            Website powered by Boostrap 4, Django, fontsawesome, OpenFoodFacts - Photographie : <a href="https://unsplash.com/photos/eqsEZNCm4-c" target="_blank">Olenka Kotyk - Fresh Deserts</a>
            </div>
        </div>
    </footer>
{% endblock footer %}
