{% extends "base.html" %}

{% load static i18n crispy_forms_tags %}

{% block title %} Purbeurre - Réinitialisation du mot de passe {% endblock title %}

{% block header %}
<!-- Masthead-->
    <header class="mastheaderProfile">
        <div class="container h-100"></div>
    </header>
{% endblock header %}

{% block content %}
    <div class="container mt-2">
        <div class="content-section">
            <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group pl-3">
                    <button class="btn btn-outline-info" type="submit">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/>
{% endblock content %}

{% block footer %}

    <footer class="profile_footer page-footer bg-light py-5">
        <div class="container">
            <div class="footer-copyright small text-center text-muted">Copyright © 2020 - PurBeurre
            Website powered by Boostrap 4, Django, fontsawesome, OpenFoodFacts - Photographie : <a href="https://unsplash.com/photos/eqsEZNCm4-c" target="_blank">Olenka Kotyk - Fresh Deserts</a>
            </div>
        </div>
    </footer>
{% endblock footer %}
