{% autoescape off %}

Bonjour {{user.get_username}},

Vous avez lancé une procédure de changement de votre mot de passe.
Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email.

Pour initialiser la mise à jour de votre mot de passe compte {{user.get_username}} sur PurBeurre webplatform, 
veuillez-bien cliquer sur le lien ci-dessous:

{{ protocol }}://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=uid token=token %}

Si le lien ne fonctionne pas, copier-coller le lien directement sur une nouvelle page de votre
navigateur.

Cordialement,
L'équipe technique PurBeurre
{% endautoescape %}