<h1>
    More information about the product you have selected
</h1>

{% if product_details %}
    <ul>
    {% for detail in product_details %}
        <li>In-Store : <img class="image" src={{detail.prod_image_url}} alt="product"/></li>
        <li>Product : {{detail.prod_name}}</li>
        <li>Category : {{detail.prod_category}}</li>
        <li>Store : {{detail.prod_store}}</li>
        <li>Brand : {{detail.prod_brand}}</li>
        <li>Nutriscore : {{detail.prod_nutrition_grade_fr}}
        <img>Nutriscore : {{detail.prod_image_nutrition_grade_fr}}</li>
    </ul>
    {% endfor %}
{% else %}
    <p>No details are available about this product, sorry...</p>
{% endif %}