<h1>
    WELCOME ON PURBEURRE, WHERE FAT IS OFF THE  TABLE
</h1>

{% if latest_product_list %}
    <ul>
    {% for product in latest_product_list %}
        <li><a href="{% url 'products:result' product.id %}">{{ product.prod_name }}</a></li>
        <!-- on utilise  les balises {%} -->
    {% endfor %}
    </ul>
{% else %}
    <p>No products are yet available.</p>
{% endif %}

    <form action="search/" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Lookup">
    </form>