{% extends "base.html" %}

{% load static %}

{% block title %} Purbeurre - Search Results {% endblock title %}

{% block header %}
<!-- Masthead-->
  <header class="mastheader">
      <div class="container h-100">
        
          <div class="row h-100 align-items-center justify-content-center text-center">
            {% if product %}
              {% for prod in product_found %}
                {% if forloop.first %}
                  <div class="image_product">
                    <h2 class="searched_product_category">Catégorie : {{ prod.prod_category }}</h2>
                </div> 
                {% endif %}
              {% endfor %}
            {% endif %}
              </div>
          </div>
  </header>
{% endblock header %}


{% block content %}
  <div class="container">
      <div class="row justify-content-center pt-4 pb-4">
      <h2> Résultat de votre recherche </h2>
      </div>
    </div>
{% comment %} BEFORE <div class="col-lg-8 align-self-baseline pb-2 pt-2 text-center">
  <h2> Résultat de votre recherche</h2>
</div> {% endcomment %}

<div class="row">

  {% for product in product_found %}
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100 pl-4 pr-4">
              <a href="{% url 'products:detail' product.id %}"><img class="card-img-top" src="{{ product.prod_image_url }}" alt="product_image" height=300 width=300></a>
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="{% url 'products:detail' product.id %}">{{product.prod_name}}</a>
                  </h5>
                <p class="card-text">
                <p><img src="{{ product.prod_image_nutrition_grade_fr}}" alt="nutriscore_product"></p>

                {% if user.is_authenticated %}
                    <button class="btn btn-outline-info" type="submit"><i class="fas fa-heart"></i></button>
                {% endif %}
            </p>

          </div>
        </div>
      </div>

    {% empty %}

      <div class="col-lg-8 align-self-baseline">
        <h3>Désolé, aucun résultat correspond à ta recherche</h3>
      </div>
    {% endfor %}
</div>

{% endblock content %}


{% comment %} header {% endcomment %}
{% comment %} <header class="masthead">
  {% if product %}
    {% for product in product %}
    <div class="container h-auto">

        <div class="row h-auto align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">
          <h2> Resultats ci-dessous </h2>
            <img src="{{ product.prod_image_url }}" alt="searched_prod_image"><p>
  {% endfor %}
  {% endif %}
          </div>
        </div>
      </div>
  </header> {% endcomment %}



  

{% comment %}   
      <h3>{{product.prod_name}}</h3>
      <img src="{{ product.prod_image_url }}"> {% endcomment %}

{% comment %} {% extends "base.html" %}

{% load static %}

{% block title %} Purbeurre - Search Results {% endblock title %}

{% block content %}
    {% for product in product_found %}
        <h3>{{product.prod_name}}</h3>
        <img src="{{ product.prod_image_url }}">
    {% empty %}
        <h2>Sorry, no results found</h2>
    {% endfor %}

  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project One</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Two</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Three</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Four</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Five</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Six</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %} {% endcomment %}

